body {
    background: #fff;
    font-family: "SimHei";
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

html {
    height: 100%;
}
a{
    color: #fff;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}

.clear{clear: both;}
.opentalk{cursor: pointer;}
.animate-box {
    opacity: 0;
}

h1,h2,h3,h4,h5,h6{font-family:寰蒋闆呴粦;font-weight:bold;margin:0;}
.mini-top{
    width: 100%;
    background: url(../../img/banner/topbg.png) repeat;;
    height: 91px;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.mini-header{
    width: 1000px;
    margin: 0 auto;
    padding: 0px;
}
.mini-logo{

    height: 45px;
    margin-top:20px;
    float:left;
}
.mini-nav{
    width: 290px;
    height: 45px;
    margin-top:10px;
    float: right;
}
.mini-nav ul{
    margin: 0 auto;
    padding: 0px;
}
.mini-nav ul li {
    float: left;
    font-size: 16px;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-left: 1px solid #999999;
}
.mini-nav ul li a{
    color: #fff;
}
.mini-nav ul li a:hover{
    font-weight: bold;
}

.top{width:100%;text-align:center;margin-top:60px;}
img.datu{width:100%;}
.top1{width:1000px;margin:0 auto;position:relative;}
.top1 span{display:inline-block;position:absolute;color:#f1c48b;background:#5c3b2c;padding:10px 30px;left:100px;bottom:60px;font-size:20px;border-radius:30px;display:inline-block;}

.title1{text-align:center;}
.title1 .bz{font-size:40px;color:#ffe7a4;background:#7b513d;padding:5px 30px;border-radius:30px;}
.title1 .bk{font-size:26px;color:#4a2e20;display:inline-block;margin:20px 0 10px 0;}
.title1 h2{font-size:60px;color:#805540;font-weight:normal;}
.title1 h2 span{font-weight:bolder;}
.title1 p{font-size:30px;color:#805540;margin:20px 0 40px 0;}
.fm{padding:4em 0;}
.fm1{padding:0 10%;text-align:center;margin-bottom:60px;border-right:1px dashed #d2c6c2;}
.fm1 span{color:#805540;background:#ffd194;font-size:20px;padding:10px 60px;border-radius:30px;display:inline-block;}
.fm1 h3{font-size:26px;color:#805540;line-height:26px;line-height:40px;}
.fm1 h3.wl{margin-bottom:20px;margin-top:10px;}
.fm1 p{color:#805540;margin-top:10px;text-align:left;font-size:18px;line-height:26px;height:230px;}
.fm2{border:none;}

.top2{position:relative;}
.top2 span{position:absolute;bottom:30px;left:50%;width:240px;height:60px;line-height:60px;display:block;margin-left:-120px;color:#ffdb9b;text-align:center;background:#805540;border-radius:10px;font-size:26px;}

.kcjg1{padding:5em 0;text-align:center;color:#805540;border-bottom:1px solid #e6ddd9;}
.kcjg1 p{font-size:36px;}
.kcjg1 p span{background:#ffda9b;font-size:26px;padding:10px 30px;border-radius:30px;}

.kcjg1 em{margin:40px 0;font-weight:bolder;font-size:46px;line-height:60px;display:block;}
.kcjg1 span.opentalk{background:#805540;border-radius:10px;padding:20px 30px;font-size:36px;color:#ffe8bf;display:inline-block;margin-top:30px;}
.kcjg1 span.xx{color:#fc9c1f;}
.last{position:relative;}
.last span{position:absolute;bottom:60px;left:50%;width:240px;height:60px;line-height:60px;display:block;margin-left:-120px;color:#79503c;text-align:center;background:#fff;border-radius:10px;font-size:26px;}



.footer{width:100%;background:#2d404f;height:253px;text-align:center;font-size:16px;color:#fff;margin-top:30px;}
.footer1{width:1200px;margin:0 auto;}
.footer1 li{float:Left;margin:20px 40px;}